* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.topOfThePage {
  font-family: 'Aref Ruqaa', serif;
  font-size: 16px;
  margin: 30px auto;
  text-align: center;
}

.links {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(151, 128, 116, 0.66);
  padding: 10 30 10 30;
}

body {
  background-image: url("http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/105600/d981d4b60493038d842305377faaa10d33d53964.jpg");
  margin: auto;
}

#linkText {
  text-align: center;
}

#welcome {
  padding: 5 10 5 10;
  background-color: rgba(151, 128, 116, 0.66);
}
