* {
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.topOfThePage {
  font-family: 'Aref Ruqaa', serif;
  font-size: 16px;
  margin: 30px auto;
  text-align: center;
  opacity: 1;
}

.links {
  font-family: 'Raleway', sans-serif;
  padding: 10px 30px;
  margin: 10px auto;
}

body {
  z-index: 1;
  background-image: url("http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/105600/d981d4b60493038d842305377faaa10d33d53964.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px 1080px;
  margin: auto;
}

#linkText {
  border-radius: 3px;
  text-align: center;
  width: 250px;
  background-color: rgba(84, 84, 84, 0.66);
  margin: 5px auto;
  padding: 5px 10px;
  color: #FFFFFF;
}

.topOfThePageText {
  color: rgb(0,0,0);
  margin: 5px auto;
  width: 450px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(84, 84, 84, 0.66);
  letter-spacing: 0.5px;
}

#welcome {
  margin: 5px auto;
  width: 300px;
  padding: 5px 10px;
}

#question {
  width: 350px;
  margin: 5px auto;
  padding: 5px 10px;
}

#thought {
  width: 400px;
  margin: 5px auto;
  padding: 5px 10px;
}

 #welcome, #question, #thought {
 /* border-radius: 5px;
  background-color: rgba(84, 84, 84, 0.66); */
  color: #FFFFFF;
} 

.linkLinks {
  text-align: center;
  width: 100%;
  padding: 30px 0px;
}

.linkLinks a {
  background: rgba(33, 34, 29, 0.4);
  border: 1px solid rgba(33, 34, 29, 1);
  color: #FFFFFF;
  display: inline-block;
  margin: 10px 10px;
  padding: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.linkLinks a:hover {
  background: rgba(33, 34, 29, 1);
  border: 1px solid rgba(33, 34, 29, 1);
  color: #FFFFFF;
  animation: ease;
}

#profilePicture {
  border-radius: 100%;
}

.middleOfThePage {
  z-index: 2;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 40px;
  margin: 0px;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.bottomOfThePage {
  z-index: 2;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 40px;
  margin: 0px;
  color: rgb(0, 0, 0);  
}
