* {
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  /*font-family: Comic Sans MS;*/
}

/*.pageBg {
  background: url("gamerpubbg.png") no-repeat center;
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
  height: 100%;
  width: 100%;
  z-index: 0;
}*/

.pageBg {
  z-index: 1;
  background-image: url("gamerpubbgblur.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px 1080px;
  height: 100%;
  margin: auto;
}

.basicText {
  font-family: 'VT323', monospace;
  font-size: 24px;
  text-align: center;
  z-index: 9000;
}

#picture {
  display: block;
  margin: 30px auto;
  border-radius: 100%;
  z-index: 9001;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  text-align: center;
  z-index: 9002;
}

.oDoba {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  z-index: 9003;
}

.linksContainer {
  background-color: gray;
  width: 100%;
  text-align: center;
  z-index: 9004;
}

/*.links {
  background-color: cyan;
  width: 100%;
  padding: auto 0px;
  margin: auto;
}*/

.links a {
  background: rgba(33, 34, 29, 0.4);
  /*border: 1px solid rgba(33, 34, 29, 1);*/
  color: #FFFFFF;
  display: inline-block;
  margin: 0px 0px 0px 20px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'VT323', monospace;
  font-size: 32px;
  z-index: 9005;
  filter: blur(0px);
}

.links a:hover {
  background: rgba(33, 34, 29, 1);
  /*border: 1px solid rgba(33, 34, 29, 1);*/
  color: #FFFFFF;
  animation: ease;
  z-index: 9005;
  filter: blur(0px);
}

.basicText, #picture, #title, .oDoba, .linksContainer {
  filter: blur(0px);
}

.oDoba h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
}

.oDoba li {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.oDoba li {
  font-family: 'VT323', monospace;
  font-size: 16px;
}
