* {
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.name {
  font-weight: bold;
}

.price {
  float: right;
}

.productListUpper {
  width: 500px;
  float: left;
}

.productListLower {
  width: 500px;
  float: right;
}
