* {
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.name {
  font-weight: bold;
}

.price {
  float: right;
}

.productListUpper {
  position: absolute;
  width: 500px;
  left: 0px;
  margin: 0px auto;
}

.productListAlcohol {
  position: absolute;
  width: 500px;
  left: 501px;
  top: 40px;
}
.productListLower {
  position: absolute;
  right: 0px;
  width: 500px;
}
