* {
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.name {
  font-weight: bold;
}

.price {
  float: right;
}

.productList {
  position: relative;
}

.productListUpper {
  width: 500px;
  left: 0px;
  margin: 0px;
}

.productListAlcohol {
  width: 500px;
  /*left: 710px;*/
  top: 0px;
  margin: 0px 0px 0px 710px;
}

.productListLower {
  right: 0px;
  width: 500px;
}
